{% extends "layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="margin-bottom: 10px;" class="clearfix">
            <a href="/dianping/add/" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新增点评数据
            </a>
            <div class="col-xs-6" style="float: right; width: 30%">
                <form method="get">
                    <div class="input-group" style="display: flex; justify-content: center; align-items: center;">
                        <span class="col-xs-5" style="padding: 0">{{ date.start_date }}</span>
                        <span class="col-xs-1" style="padding: 0; text-align:center">至</span>
                        <span class="col-xs-5" style="padding: 0">{{ date.end_date }}</span>
                        <span class="input-group-btn col-xs-1" style="padding: 0">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <!-- 表格区域 -->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    大众点评经营业绩数据
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>店铺</th>
                        <th>推广花费</th>
                        <th>点击均价</th>
                        <th>点评星级</th>
                        <th>美团星级</th>
                        <th>访客排名-美团</th>
                        <th>消费排名-美团</th>
                        <th>好评排名-美团</th>
                        <th>访客排名-点评</th>
                        <th>消费排名-点评</th>
                        <th>好评排名-点评</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <th scope="row">{{ obj.date }}</th>
                            <td><a href="/dianping/{{ obj.id }}/detail/">{{ obj.store.name }}</a></td>
                            <td>{{ obj.today_expend }}</td>
                            <td>{{ obj.expend_every_click }}</td>
                            <td>{{ obj.start_of_comment }}</td>
                            <td>{{ obj.start_of_meituan }}</td>
                            <td>{{ obj.visit_rank_mt }}</td>
                            <td>{{ obj.cost_in_store_rank_mt }}</td>
                            <td>{{ obj.good_reputation_rank_mt }}</td>
                            <td>{{ obj.visit_rank_dzdp }}</td>
                            <td>{{ obj.cost_in_store_rank_dzdp }}</td>
                            <td>{{ obj.good_reputation_rank_dzdp }}</td>
                            <td>
{#                                <a href="/dianping/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">修改</a>#}
                                <button did="{{ obj.id }}" class="btn btn-danger btn-xs deleteBtn">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- 分页栏 -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ pagination_str }}
                </ul>
            </nav>
        </div>
    </div>

    <!-- 删除订单的窗口 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否确认删除数据</h4>
                <p>即将删除数据,删除后与之关联的数据都可能会被删除,是否继续</p>
                <p style="text-align: right">
                    <button id="confirmDelete" durl="/dianping/delete/" type="button" class="btn btn-danger">确 认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/delete_js.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            bindBtnDeleteEvent();
            bindDoDelete();
        })
    </script>
{% endblock %}