{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栖花漫雨</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style type="text/css">
        .nav{
            border-radius: 0;
        }
    </style>
    {% block css %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index/">栖花漫雨</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/store/list/">门店管理</a></li>
        <li><a href="/manager/list/">店长管理</a></li>
        <li><a href="/vip/list/">会员中心</a></li>
        <li><a href="/order/list/">订单中心</a></li>
        <li><a href="/meituan/list/">美团外卖</a></li>
        <li><a href="/dianping/list/">大众点评</a></li>
        <li><a href="/attendance/list/">考勤管理</a></li>
        <li><a href="/business/dashboard/">经营业绩</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ request.session.info.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/manager/eidt/password/">修改密码</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
    {% block content %}

    {% endblock %}
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
{% block js %}

{% endblock %}
</body>
</html>